<div class="container">
    <div class="row">
        <div class="col-left-middle">
            <div class="row as-section">
                <div class="col-left">
                    <section ng-include="'Templates/Sections/logo.html'" style="height: 92px"></section>
                </div>
                <div class="col-middle"></div>
            </div>
            <section ng-include="'Templates/Sections/article-header.html'"></section>
            <section ng-include="'Templates/Sections/article-content.html'"></section>
            <section ng-include="'Templates/Sections/article-comments.html'"></section>
        </div>
        <div class="col-right">
            <section ng-include="'Templates/Sections/search-box.html'" style="height: 40px"></section>
            <section ng-include="'Templates/Sections/action-hub.html'"></section>
            <section ng-include="'Templates/Sections/ifs-right.html'" style="height: 150px"></section>
            <section ng-include="'Templates/Sections/promoted-readings.html'"></section>
            <section ng-include="'Templates/Sections/cuc-entrance.html'" style="height: 60px"></section>
            <section ng-include="'Templates/Sections/site-footer.html'"></section>
        </div>
    </div>
</div>