<div class="container">
    <div class="row">
        <div class="col-left">
            <section ng-include="'Templates/Include/logo.html'"></section>
            <section ng-include="'Templates/Include/main-navigation.html'"></section>
            <section ng-include="'Templates/Include/recommended-points.html'"></section>
        </div>
        <div class="col-middle">
            <section>
                <div class="section-banner box-shodowed">
                    <img src="Content/Images/banner-keylol.svg" alt="其乐 是一个没有沉余信息的玩家综合网络">
                </div>
            </section>
            <section ng-include="'Templates/Include/timeline.html'"></section>
        </div>
        <div class="col-right"></div>
    </div>
</div>