@{
    ViewBag.Title = "Home Page";
}

<ul class="list-inline">
    <li>
        <button class="btn btn-primary ladda-button apply-font-button" data-style="zoom-in" data-font-name="SourceHanSansSC">思源黑体</button>
    </li>
    <li>
        <button class="btn btn-primary ladda-button apply-font-button" data-style="zoom-in" data-font-name="TpldKhangXiDict">康熙字典体</button>
    </li>
    <li>
        <button class="btn btn-primary ladda-button apply-font-button" data-style="zoom-in" data-font-name="FakeMTR">港铁宋体</button>
    </li>
    <li>
        <button class="btn btn-primary ladda-button apply-font-button" data-style="zoom-in" data-font-name="QXyingbixing">全新硬笔行书</button>
    </li>
    <li>
        <button class="btn btn-primary ladda-button apply-font-button" data-style="zoom-in" data-font-name="MFShangYa">造字工房尚雅体</button>
    </li>
    <li>
        <button class="btn btn-primary ladda-button apply-font-button" data-style="zoom-in" data-font-name="MFQingShu">造字工房情书体</button>
    </li>
    <li>
        <button class="btn btn-primary ladda-button apply-font-button" data-style="zoom-in" data-font-name="MFDingDing">造字工房丁丁体</button>
    </li>
    <li>
        <button class="btn btn-primary ladda-button apply-font-button" data-style="zoom-in" data-font-name="MFYueYuan">造字工房悦圆体</button>
    </li>
</ul>
<textarea id="text-input-area" class="form-control autogrow-short" placeholder="在这里输入文本">冰灯是流行于中国北方的一种古老的民间艺术形式。因为独特的地域优势，黑龙江可以说是制作冰灯最早的地方。传说在很早以前，每到冬季的夜晚，在松嫩平原上，人们总会看到三五成群的农夫和渔民在悠然自得地喂马和捕鱼，他们所使用的照明工具就是用冰做成的灯笼。这便是最早的冰灯。当时制作冰灯的工艺也很简单，把水放进木桶里冻成冰坨，凿出空心，放个油灯在里面，用以照明，冰罩挡住了凛冽的寒风，黑夜里便有了不灭的灯盏，冰灯成了人们生活中不可缺少的帮手。</textarea>