<div class="section-action-hub box-shadowed">
    <div class="clearfix">
        <a class="avatar-anchor" href="test">
            <img class="avatar-big" src="Content/Images/exit.svg" alt="<username>">
        </a>
        <div class="name-settings">
            <h4 class="name">
                <a href="test">@&lt;username></a>
            </h4>
            <h4 class="settings-link">
                <a href="test">设置 / 编辑账户</a>
            </h4>
        </div>
    </div>
    <ul class="links list-inline">
        <li>
            <h4>文章</h4>
            <a href="test">46</a>
        </li>
        <li>
            <h4>据点</h4>
            <a href="test">85</a>
        </li>
        <li>
            <h4>提醒</h4>
            <a href="test">0</a>
        </li>
        <li>
            <h4>私信</h4>
            <a href="test">0</a>
        </li>
    </ul>
</div>