<div class="section-timeline" ng-controller="TimelineController">
    <div class="heading inverse">
        <a href="test" class="right-button box-shodowed">
            <img src="Content/Images/edit-pen.png" alt="发表新文章">
        </a>
        <div class="left-info box-shodowed card">
            <svg xmlns="http://www.w3.org/2000/svg" class="card-line inverse">
                <rect x="6" width="5" height="100%"></rect>
                <circle class="inverse" cx="8.5" cy="50%" r="5"></circle>
            </svg>
            <div class="title">
                <h1 class="font-lisong">讯息轨道</h1>
                <h2>推送至已订阅据点的文章</h2>
            </div>
        </div>
    </div>
</div>