<div class="section-timeline" ng-controller="TimelineController">
    <div class="heading inverse">
        <a href="test" class="right-button box-shodowed">
            <img src="Content/Images/edit-pen.png" alt="发表新文章">
        </a>
        <div class="left-info box-shodowed card">
            <svg xmlns="http://www.w3.org/2000/svg" class="card-line">
                <rect x="6" width="5" height="100%"></rect>
                <circle cx="8.5" cy="50%" r="5"></circle>
            </svg>
            <div class="title font-myriad-keylol">
                <h1>讯息轨道</h1>
                <h2>Timeline</h2>
            </div>
        </div>
    </div>
    <div class="piece card" ng-repeat="piece in pieces">
        <svg xmlns="http://www.w3.org/2000/svg" class="card-line">
            <rect x="6" width="5" height="100%"></rect>
            <circle cx="8.5" cy="46" r="5"></circle>
        </svg>
        <div class="piece-heading">
            <div class="piece-author">
                <a class="avatar-anchor" href="test">
                    <img ng-src="{{piece.author.avatarUrl}}" alt="头像">
                </a>
                <h4>
                    <a href="test">@{{piece.author.username}}</a>
                </h4>
            </div>
            <h3>
                <span class="piece-type font-myriad-keylol" ng-repeat="type in piece.types">{{type}}</span>
                <span><a ng-href="{{source.url}}" ng-repeat="source in piece.sources">「{{source.name}}」</a></span>
            </h3>
        </div>
        <div class="piece-content clearfix box-shodawed-glowed">
            <img ng-if="piece.thumbnail" class="thumbnail" ng-src="{{piece.thumbnail}}" alt="预览图">
            <div class="summary">
                <h3>
                    <a ng-href="{{piece.url}}">{{piece.title}}</a>
                </h3>
                <p ng-class="{'two-line': !piece.thumbnail}">{{piece.summary}}</p>
            </div>
        </div>
        <footer></footer>
    </div>
</div>