<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="rabbitMqConnection" value="amqp://localhost/" />
    <add key="upyunBucket" value="keylol" />
    <add key="upyunOperator" value="stackia" />
    <add key="upyunPasswordHash" value="9fed63e0ecf16aad31a9c3ccd31b0737" />
    <add key="upyunFormKey" value="LaetquRR2LDCO0SezzqNNeTxjnQ=" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netHttpBinding>
        <binding name="NetHttpBinding_IImageGarageCoordinator" maxBufferPoolSize="67108864" maxBufferSize="67108864" maxReceivedMessageSize="67108864">
          <security mode="TransportWithMessageCredential" />
          <webSocketSettings transportUsage="Always" />
        </binding>
      </netHttpBinding>
    </bindings>
    <client>
      <endpoint address="wss://localhost:44300/Services/ImageGarageCoordinator.svc" binding="netHttpBinding" bindingConfiguration="NetHttpBinding_IImageGarageCoordinator" contract="ServiceReference.IImageGarageCoordinator" name="NetHttpBinding_IImageGarageCoordinator" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>