/*#region Font Face */

@font-face {
    font-family: "Myriad Pro";
    font-style: normal;
    font-weight: normal;
    src: url("./Fonts/myriadpro-regular.woff") format("woff");
}

@font-face {
    font-family: "Keylol Rail Sung";
    font-style: normal;
    font-weight: normal;
    src: url("./Fonts/keylol-rail-sung-7e527aac444604711a10704ee9f21714.woff") format("woff");
}

@font-face {
    font-family: "LiSong";
    font-style: normal;
    font-weight: normal;
    src: url("./Fonts/lisong-28c68f205d871d952064990617ece150.woff") format("woff");
}

/*#endregion */

/*#region Common HTML Elements */

body {
    color: #333;
    background-color: #eef1f3;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 12px;
    min-width: 1220px;
    box-sizing: border-box;
}

a {
    color: #11254a;
    text-decoration: none;
}

    a:hover,
    a:focus {
        text-decoration: underline;
    }

input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

input[type=radio] {
    bottom: 2px;
}

/*#endregion */

/*#region Grid System */

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-left {
    width: 200px;
}

.col-middle {
    width: 640px;
}

.col-right {
    width: 300px;
}

.col-left-middle {
    width: 870px;
}

[class^=col-] {
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}

    [class^=col-] section {
        margin-top: 20px;
        margin-bottom: 20px;
    }

/*#endregion */

/*#region Font Family Presets */

.font-myriad-keylol {
    font-family: "Myriad Pro", "Keylol Rail Sung";
}

.font-myriad-lisong {
    font-family: "Myriad Pro", LiSong;
}

/*#endregion */

/*#region Utilities */

.box-shodowed {
    box-shadow: 2.12px 2.12px 2px rgba(53, 72, 86, 0.15);
}

.box-shodowed-inset {
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.50);
}

.labeled-heading {
    position: relative;
    line-height: 20px;
    padding-left: 8px;
    font-size: 14px;
    color: #11254a;
    font-weight: normal;
}

    .labeled-heading:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -5px;
        width: 8px;
        height: 20px;
        background-color: #11254a;
    }

    .labeled-heading:before {
        content: "";
        display: block;
        position: absolute;
        left: -13px;
        width: 8px;
        height: 20px;
        z-index: -1;
        box-shadow: 0 0 2px #B8BABB;
        transform: rotate(135deg);
        transform-origin: bottom right;
        background-color: #adafb0;
    }

.row:after,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.list-inline {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .list-inline li {
        display: inline;
    }

/*#endregion */

/*#region Modal Window */

kl-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

    kl-modal:last-of-type {
        background-color: rgba(0, 0, 0, 0.65);
    }

[class^=modal-position-] {
    position: absolute;
    overflow: auto;
}

.modal-position-center {
    top: 50%;
    left: 50%;
    max-height: 100%;
    max-width: 90%;
    transform: translate(-50%, -50%);
}

.modal-position-top {
    top: 12%;
    left: 50%;
    max-height: 86%;
    max-width: 90%;
    transform: translate(-50%, 0);
}

.modal-position-bottom {
    bottom: 12%;
    left: 50%;
    max-height: 86%;
    max-width: 90%;
    transform: translate(-50%, 0);
}

.modal-position-left {
    top: 50%;
    left: 6%;
    max-height: 100%;
    max-width: 90%;
    transform: translate(0, -50%);
}

.modal-position-right {
    top: 50%;
    right: 6%;
    max-height: 100%;
    max-width: 90%;
    transform: translate(0, -50%);
}

.modal-window {
    background-color: #eef1f3;
    box-shadow: 2.12px 2.12px 2px rgba(53, 72, 86, 0.15);
    margin: 0 30px;
}

    /*#region Confirm Button */

    .modal-window .modal-confirm-button {
        float: right;
        background-color: #11254a;
        border: none;
        text-align: right;
        padding: 6px 19px;
        height: 60px;
        margin-right: -8px;
        position: relative;
    }

        .modal-window .modal-confirm-button:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 24px;
            height: 60px;
            z-index: -1;
            box-shadow: 0 0 2px #B8BABB;
            transform: rotate(315deg);
            transform-origin: bottom right;
            background-color: #adafb0;
        }

        .modal-window .modal-confirm-button img {
            float: right;
            margin-left: 18px;
            position: relative;
        }

        .modal-window .modal-confirm-button .arrow-right {
            width: 42px;
            height: 34px;
            top: 7px;
        }

        .modal-window .modal-confirm-button .signature-pen {
            width: 30px;
            height: 40px;
            top: 4px;
        }

        .modal-window .modal-confirm-button hgroup {
            float: right;
            margin-left: 30px;
        }

            .modal-window .modal-confirm-button hgroup h1 {
                color: white;
                font-size: 18px;
                margin: 4px 0;
            }

            .modal-window .modal-confirm-button hgroup h2 {
                color: white;
                font-size: 12px;
                font-weight: normal;
                margin: 4px 0;
            }

/*#endregion */

/*#endregion */

/*#region Logo Section */

.section-logo {
    background-color: #11254a;
    height: 100%;
    width: 100%;
    min-height: 70px;
    min-width: 186px;
}

    .section-logo a {
        display: block;
        text-decoration: none;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .section-logo .logo-content {
        width: 162px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .section-logo img {
        float: left;
        width: 54px;
        height: 54px;
        margin-right: 14px;
    }

    .section-logo p {
        margin: 0;
        color: #fefefe;
    }

        .section-logo p:first-of-type {
            font-size: 25px;
            margin-top: 2px;
            margin-bottom: 4px;
        }

        .section-logo p:nth-of-type(2) {
            font-size: 14px;
        }

/*#endregion */

/*#region Main Navigation Section */

.section-main-navigation {
    background-color: white;
    padding-top: 6px;
    padding-bottom: 9px;
    width: 200px;
}

    .section-main-navigation div {
        margin-bottom: 18px;
    }

    .section-main-navigation a {
        color: #000003;
    }

    .section-main-navigation .labeled-heading + ul {
        padding-left: 10px;
        padding-right: 10px;
        margin-right: -7px;
        line-height: 20px;
    }

        .section-main-navigation .labeled-heading + ul li {
            display: inline-block;
            margin-right: 7px;
        }

        .section-main-navigation .labeled-heading + ul + p {
            margin: 0;
            line-height: 20px;
            padding-right: 10px;
            text-align: right;
        }

/*#endregion */

/*#region Point Recommendation Section */

.section-point-recommendation {
    background-color: white;
    width: 200px;
}

    .section-point-recommendation .heading {
        background-color: #11254a;
        position: relative;
    }

        .section-point-recommendation .heading:before {
            content: "";
            display: block;
            position: absolute;
            left: -64px;
            width: 59px;
            height: 60px;
            z-index: -1;
            box-shadow: 0 0 2px #B8BABB;
            transform: rotate(135deg);
            transform-origin: bottom right;
            background-color: #adafb0;
        }

        .section-point-recommendation .heading img {
            float: left;
            margin-left: -5px;
        }

        .section-point-recommendation .heading svg {
            float: left;
            width: 34px;
            height: 34px;
            margin: 13px 10px 13px 13px;
        }

        .section-point-recommendation .heading p {
            margin: 0;
            color: white;
        }

            .section-point-recommendation .heading p:first-of-type {
                font-size: 16px;
                padding-top: 14px;
                padding-bottom: 1px;
            }

    .section-point-recommendation .point {
        margin-left: 20px;
        padding: 10px 0;
        border-bottom: 1px solid #000003;
    }

        .section-point-recommendation .point:last-of-type {
            border-bottom: none;
        }

        .section-point-recommendation .point p {
            margin: 0;
        }

            .section-point-recommendation .point p:first-of-type {
                font-weight: bold;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin-right: 12px;
                margin-bottom: 2px;
            }

/*#endregion */

/*#region Timeline Section */

.section-timeline {
    width: 100%;
    min-width: 554px;
}

    /*#region Card & Card Line */

    .section-timeline .card {
        position: relative;
        padding-left: 31px;
    }

        .section-timeline .card .card-line {
            position: absolute;
            height: 100%;
            width: 17px;
            left: 13px;
            top: 0;
        }

            .section-timeline .card .card-line circle {
                fill: white;
                stroke: #11254a;
                stroke-width: 2px;
            }

    /*#endregion */

    /*#region Heading */

    /*#region Title */

    .section-timeline .heading .title {
        color: #11254a;
        padding: 7px 0;
        margin-left: 2px;
    }

        .section-timeline .heading .title h1 {
            font-size: 16px;
            font-weight: normal;
            margin: 0 0 2px;
        }

        .section-timeline .heading .title h2 {
            font-size: 10px;
            font-weight: normal;
            margin: 0;
        }

    .section-timeline .heading.inverse .title {
        color: white;
    }

    /*#endregion */

    /*#region Card Line */

    .section-timeline .heading .card-line rect {
        fill: #11254a;
    }

    .section-timeline .heading.inverse .card-line circle {
        fill: #11254a;
        stroke: white;
    }

    .section-timeline .heading.inverse .card-line rect {
        fill: white;
    }

    /*#endregion */

    /*#region Layout */

    .section-timeline .heading {
        position: relative;
        padding-right: 63px;
    }

        .section-timeline .heading .left-info,
        .section-timeline .heading .right-button {
            background-color: white;
        }

        .section-timeline .heading.inverse .left-info,
        .section-timeline .heading.inverse .right-button {
            background-color: #11254a;
        }

        .section-timeline .heading .left-info {
            overflow: hidden;
        }

        .section-timeline .heading .right-button {
            position: absolute;
            right: 0;
            width: 48px;
            height: 100%;
        }

            .section-timeline .heading .right-button img {
                width: 26px;
                height: 26px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

    /*#endregion */

    /*#endregion */

    /*#region Piece */

    .section-timeline .piece {
        background: white;
        margin: 20px 0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
    }

    /*#region Heading */

    .section-timeline .piece-heading {
        margin-bottom: 10px;
        margin-left: 2px;
    }

        .section-timeline .piece-heading h3 {
            height: 32px;
            line-height: 32px;
            font-size: 12px;
            font-weight: normal;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .section-timeline .piece-heading .piece-type {
            font-size: 14px;
            color: white;
            background-color: #11254a;
            padding: 2px;
            margin-right: 5px;
        }

        .section-timeline .piece-heading .piece-author {
            float: right;
            width: 240px;
        }

            .section-timeline .piece-heading .piece-author .avatar-anchor {
                float: right;
                display: block;
                margin-left: 6px;
            }

            .section-timeline .piece-heading .piece-author img {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                border: 2px solid #11254a;
            }

            .section-timeline .piece-heading .piece-author h4 {
                line-height: 15px;
                height: 15px;
                font-weight: normal;
                margin: 0;
                text-align: right;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

                .section-timeline .piece-heading .piece-author h4.username-full-height {
                    line-height: 32px;
                    height: 32px;
                    margin-bottom: 0;
                }

                .section-timeline .piece-heading .piece-author h4:first-of-type {
                    margin-bottom: 2px;
                }

    /*#endregion */

    /*#region Content */

    .section-timeline .piece-content {
        margin-left: 9px;
        padding: 8px 10px;
    }

        .section-timeline .piece-content .thumbnail {
            float: left;
            width: 124px;
            height: 72px;
            margin-right: 9px;
        }

        .section-timeline .piece-content h3 {
            font-size: 16px;
            font-weight: normal;
            margin: 0 0 1px 0;
            padding-top: 1px;
            line-height: 22px;
            height: 22px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .section-timeline .piece-content p {
            margin: 0;
            line-height: 16px;
            max-height: 48px;
            overflow: hidden;
        }

            .section-timeline .piece-content p.two-line {
                height: 32px;
            }

        .section-timeline .piece-content .thumbnail-candicates {
            margin-top: 1px;
            margin-bottom: -3px;
        }

            .section-timeline .piece-content .thumbnail-candicates .frame {
                padding: 3px;
                display: block;
                float: left;
                margin: 0 2px;
            }

                .section-timeline .piece-content .thumbnail-candicates .frame.selected {
                    background-color: #11254a;
                }

            .section-timeline .piece-content .thumbnail-candicates img {
                width: 62px;
                height: 36px;
                display: block;
            }

/*#endregion */

/*#endregion */

/*#endregion */

/*#region Search Box Section */

.section-search-box {
    width: 100%;
    min-width: 184px;
    height: 100%;
    min-height: 38px;
    box-sizing: border-box;
    padding: 7px 30px 7px 10px;
    background-color: #11254A;
    position: relative;
}

    .section-search-box input[type=search] {
        border-radius: 4px;
        box-shadow: none;
        border: none;
        height: 100%;
        line-height: 24px;
        padding: 0 6px;
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    .section-search-box a {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 26px;
    }

        .section-search-box a img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 15px;
            height: 15px;
            margin-left: -10px;
            margin-top: -7px;
        }

/*#endregion */

/*#region Action Hub Section */

.section-action-hub {
    width: 300px;
    height: 129px;
    background-color: white;
    padding: 12px;
    box-sizing: border-box;
}

    .section-action-hub .name-settings {
        padding: 2px 0;
        margin-left: 65px;
    }

        .section-action-hub .name-settings h4 {
            margin: 0;
            line-height: 22px;
            font-weight: normal;
        }

        .section-action-hub .name-settings .name {
            font-size: 14px;
        }

        .section-action-hub .name-settings .settings-link a {
            color: #333;
        }

    .section-action-hub .avatar-anchor {
        float: left;
    }

        .section-action-hub .avatar-anchor img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }

    .section-action-hub .links {
        margin-top: 14px;
    }

        .section-action-hub .links li {
            display: inline-block;
            text-align: center;
            width: 66px;
        }

        .section-action-hub .links h4 {
            font-weight: normal;
            margin: 0 0 6px;
        }

        .section-action-hub .links a {
            font-size: 16px;
            font-style: italic;
        }

/*#endregion */

/*#region IFS Right Section */

.section-ifs-right {
    height: 100%;
    width: 100%;
    min-height: 143px;
    min-width: 269px;
    background-color: white;
    position: relative;
}

    .section-ifs-right svg {
        margin: 0 auto;
        width: 256px;
        height: 128px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

/*#endregion */

/*#region Reading Recommendation Section */

.section-reading-recommendation {
    width: 100%;
    min-width: 206px;
    background-color: white;
    padding-top: 6px;
    padding-bottom: 9px;
}

    .section-reading-recommendation .article {
        padding: 12px 15px;
    }

        .section-reading-recommendation .article h2 {
            font-weight: normal;
            font-size: 12px;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

            .section-reading-recommendation .article h2 span {
                margin-right: 4px;
                color: #748a97;
            }

        .section-reading-recommendation .article p {
            margin: 7px 0;
            max-height: 48px;
            overflow: hidden;
            line-height: 16px;
        }

        .section-reading-recommendation .article footer {
            text-align: right;
            color: #748a97;
        }

            .section-reading-recommendation .article footer span {
                margin-left: 15px;
                display: none;
            }

                .section-reading-recommendation .article footer span:last-child {
                    display: inline-block;
                }

        .section-reading-recommendation .article:hover footer span {
            display: inline-block;
        }

/*#endregion */

/*#region CuC Entrance Section */

.section-cuc-entrance {
    background-color: #252626;
    height: 100%;
    width: 100%;
    min-height: 60px;
    min-width: 300px;
}

    .section-cuc-entrance a {
        display: block;
        text-decoration: none;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .section-cuc-entrance .cuc-content {
        width: 276px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .section-cuc-entrance img {
        float: left;
        width: 52px;
        height: 46px;
        margin-right: 2px;
    }

    .section-cuc-entrance p {
        margin: 0;
        color: #fefefe;
    }

        .section-cuc-entrance p:first-of-type {
            font-size: 18px;
            margin: 6px 0 2px;
        }

/*#endregion */

/*#region Site Footer Section */

.section-site-footer {
    text-align: right;
}

    .section-site-footer .divider {
        margin: 0 3px;
    }

    .section-site-footer,
    .section-site-footer a {
        color: #748a97;
    }

/*#endregion */

/*#region Spotlight Banner Section */

.section-spotlight-banner {
    height: 100%;
    width: 100%;
    min-height: 185px;
    min-width: 616px;
    background-color: white;
    position: relative;
}

    .section-spotlight-banner svg {
        margin: 0 auto;
        width: 606px;
        height: 175px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -303px;
        margin-top: -86px;
    }

/*#endregion */

/*#region Registration Modal Window */

.modal-registration .modal-window {
    padding: 14px;
    width: 900px;
}

.modal-registration h1 {
    font-size: 18px;
    color: #11254a;
    margin: 3px 0;
}

.modal-registration h2 {
    font-size: 14px;
    font-weight: normal;
    margin: 3px 0;
}

.modal-registration h3 {
    color: #11254a;
    font-size: 14px;
    margin: 2px 0;
}

    .modal-registration h3.single-line {
        float: left;
        margin-right: 8px;
    }

        .modal-registration h3.single-line + h4 {
            position: relative;
            top: 2px;
        }

.modal-registration h4 {
    font-weight: normal;
    font-size: 12px;
    margin: 2px 0;
}

.modal-registration .sample-bar-code {
    width: 678px;
    height: 20px;
    margin: 0 auto;
    display: block;
}

.modal-registration .heading {
    margin: 28px 0;
}

    .modal-registration .heading img {
        float: right;
        width: 44px;
        height: 44px;
    }

.modal-registration table {
    margin: 28px 0;
    width: 100%;
}

    .modal-registration table td {
        border: 1px solid #11254a;
        padding: 1px 3px;
    }

.modal-registration .platform {
    float: left;
    width: 33%;
    margin: 10px 0 8px;
    text-align: center;
    position: relative;
}

    .modal-registration .platform .go-binding-anchor {
        display: inline-block;
        opacity: 0.25;
    }

        .modal-registration .platform .go-binding-anchor:hover {
            text-decoration: none;
            opacity: 1.0;
        }

        .modal-registration .platform .go-binding-anchor img {
            width: 35px;
            height: 35px;
            vertical-align: middle;
        }

        .modal-registration .platform .go-binding-anchor span {
            font-size: 14px;
            color: #333;
        }

    .modal-registration .platform .pasted-card {
        width: 262px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fdfeeb;
        border-image: url(/Content/Images/border-slash.png) 30 round;
        border-width: 4px;
        border-style: solid;
        transform: rotate(-1deg);
    }

        .modal-registration .platform .pasted-card .needle {
            position: absolute;
            top: -3px;
            left: 4px;
        }

        .modal-registration .platform .pasted-card > div {
            display: inline-block;
            margin: 6px 0 4px;
        }

        .modal-registration .platform .pasted-card div img {
            float: left;
            width: 35px;
            height: 35px;
            margin-right: 8px;
        }

        .modal-registration .platform .pasted-card div h5 {
            font-size: 12px;
            font-weight: normal;
            margin: 2px 0;
        }

        .modal-registration .platform .pasted-card div a {
            font-weight: bold;
        }

        .modal-registration .platform .pasted-card div div {
            float: left;
            text-align: left;
            max-width: 192px;
        }

.modal-registration table input[type=text],
.modal-registration table input[type=password],
.modal-registration table input[type=email] {
    background: none;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding: 0 6px;
    box-sizing: border-box;
}

.modal-registration .upload-avatar {
    text-align: center;
}

    .modal-registration .upload-avatar button {
        margin: 6px 0;
    }

.modal-registration .checkbox-group {
    padding: 9px 0;
}

    .modal-registration .checkbox-group div {
        display: inline;
        margin: 0 12px;
    }

    .modal-registration .checkbox-group label {
        padding-left: 6px;
    }

.modal-registration .declaration {
    font-weight: bold;
    max-width: 580px;
}

    .modal-registration .declaration h3.single-line + h4 {
        top: 5px;
    }

.modal-registration .modal-window .modal-confirm-button {
    margin-right: -22px;
}

/*#endregion */
