/*#region Font Face */

@font-face {
    font-family: "Myriad Pro";
    font-style: normal;
    font-weight: normal;
    src: url("./Fonts/myriadpro-regular.woff") format("woff");
}

@font-face {
    font-family: "Keylol Rail Sung";
    font-style: normal;
    font-weight: normal;
    src: url("./Fonts/keylol-rail-sung-4da40bfaf26d2174bb5e4a8bde28b37d.woff") format("woff");
}

@font-face {
    font-family: "LiSong";
    font-style: normal;
    font-weight: normal;
    src: url("./Fonts/lisong-fb4fa40975376917371cff951ab32fb4.woff") format("woff");
}

/*#endregion */

/*#region Keyframes */

@keyframes exit-background-flash {
    from {
        fill: #088100;
    }

    to {
        fill: white;
    }
}

@keyframes exit-text-flash {
    from {
        fill: white;
    }

    to {
        fill: #088100;
    }
}

/*#endregion */

/*#region Common HTML Elements */

body {
    color: #333;
    background-color: #eef1f3;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 12px;
    min-width: 1220px;
    box-sizing: border-box;
}

a {
    color: #11254a;
    text-decoration: none;
}

    a:hover,
    a:focus {
        text-decoration: underline;
    }

input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

input[type=radio] {
    bottom: 2px;
}

/*#endregion */

/*#region Grid System */

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-left {
    width: 200px;
}

.col-middle {
    width: 640px;
}

.col-right {
    width: 300px;
}

.col-left-middle {
    width: 870px;
}

[class^=col-] {
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}

    [class^=col-] section {
        margin-top: 20px;
        margin-bottom: 20px;
    }

/*#endregion */

/*#region Font Family Presets */

.font-myriad-keylol {
    font-family: "Myriad Pro", "Keylol Rail Sung";
}

.font-myriad-lisong {
    font-family: "Myriad Pro", LiSong;
}

/*#endregion */

/*#region Utilities */

.box-shodowed {
    box-shadow: 2.12px 2.12px 2px rgba(53, 72, 86, 0.15);
}

.box-shodowed-inset {
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.50);
}

.box-shodawed-glowed {
    box-shadow: 0 0 1px rgba(0,0,0,0.35), 2.12px 2.12px 2px rgba(53, 72, 86, 0.15);
}

.labeled-heading {
    position: relative;
    line-height: 20px;
    padding-left: 8px;
    font-size: 14px;
    color: #11254a;
    font-weight: normal;
}

    .labeled-heading:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -5px;
        width: 8px;
        height: 20px;
        background-color: #11254a;
    }

    .labeled-heading:before {
        content: "";
        display: block;
        position: absolute;
        left: -13px;
        width: 8px;
        height: 20px;
        z-index: -1;
        box-shadow: 0 0 2px #B8BABB;
        transform: rotate(135deg);
        transform-origin: bottom right;
        background-color: #adafb0;
    }

.row:after,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.list-inline {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .list-inline li {
        display: inline;
    }

/*#endregion */

/*#region Modal Window */

.body-modal-open {
    overflow: hidden;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

kl-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    white-space: nowrap;
}

    kl-modal:after {
        display: inline-block;
        height: 100%;
        margin-left: -.05em;
        content: "";
    }

    kl-modal:last-of-type {
        background-color: rgba(0, 0, 0, 0.65);
    }

[class^=modal-position-] {
    display: inline-block;
    text-align: left;
}

kl-modal[position=center] {
    text-align: center;
}

    .modal-position-center,
    kl-modal[position=center]:after {
        vertical-align: middle;
    }

kl-modal[position=top] {
    text-align: center;
}

    .modal-position-top,
    kl-modal[position=top]:after {
        vertical-align: top;
    }

kl-modal[position=bottom] {
    text-align: center;
}

    .modal-position-bottom,
    kl-modal[position=bottom]:after {
        vertical-align: bottom;
    }

kl-modal[position=left] {
    text-align: left;
}

    .modal-position-left,
    kl-modal[position=left]:after {
        vertical-align: middle;
    }

kl-modal[position=right] {
    text-align: right;
}

    .modal-position-right,
    kl-modal[position=right]:after {
        vertical-align: middle;
    }

.modal-window {
    background-color: #eef1f3;
    box-shadow: 2.12px 2.12px 2px rgba(53, 72, 86, 0.15);
    position: relative;
    box-sizing: border-box;
}

    /*#region Table */

    .modal-window table td {
        border: 1px solid #11254a;
        padding: 1px 3px;
    }

    .modal-window table input[type=text],
    .modal-window table input[type=password],
    .modal-window table input[type=email] {
        background: none;
        border: none;
        height: 100%;
        width: 100%;
        font-size: 16px;
        padding: 0 6px;
        box-sizing: border-box;
    }

    /*#endregion */

    /*#region Confirm Button */

    .modal-window .modal-confirm-button {
        float: right;
        background-color: #11254a;
        border: none;
        text-align: right;
        padding: 6px 19px;
        height: 60px;
        margin-right: -8px;
        position: relative;
    }

        .modal-window .modal-confirm-button:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 24px;
            height: 60px;
            z-index: -1;
            box-shadow: 0 0 2px #B8BABB;
            transform: rotate(315deg);
            transform-origin: bottom right;
            background-color: #adafb0;
        }

        .modal-window .modal-confirm-button img {
            float: right;
            margin-left: 18px;
            position: relative;
        }

        .modal-window .modal-confirm-button .arrow-right {
            width: 42px;
            height: 34px;
            top: 7px;
        }

        .modal-window .modal-confirm-button .signature-pen {
            width: 30px;
            height: 40px;
            top: 4px;
        }

        .modal-window .modal-confirm-button hgroup {
            float: right;
            margin-left: 30px;
        }

            .modal-window .modal-confirm-button hgroup h1 {
                color: white;
                font-size: 18px;
                margin: 4px 0;
                font-weight: normal;
            }

            .modal-window .modal-confirm-button hgroup h2 {
                color: white;
                font-size: 12px;
                font-weight: normal;
                margin: 4px 0;
            }

    /*#endregion */

    /*#region Exit Button */

    .modal-window .modal-exit-button {
        display: block;
        position: absolute;
        top: 0;
        right: -58px;
        box-shadow: 2.12px 2.12px 2px rgba(53, 72, 86, 0.15);
        cursor: pointer;
    }

        .modal-window .modal-exit-button svg {
            width: 48px;
            height: 48px;
        }

        .modal-window .modal-exit-button.focused .background {
            animation: exit-background-flash 150ms ease-in-out 6 alternate;
        }

        .modal-window .modal-exit-button.focused .text {
            animation: exit-text-flash 150ms ease-in-out 6 alternate;
        }

        .modal-window .modal-exit-button:hover .background {
            fill: white;
        }

        .modal-window .modal-exit-button:hover .text {
            fill: #088100;
        }

    /*#endregion */

    /*#region Headings */

    .modal-window h1 {
        font-size: 18px;
        color: #11254a;
        margin: 3px 0;
    }

    .modal-window h2 {
        font-size: 14px;
        font-weight: normal;
        margin: 3px 0;
    }

    .modal-window h3 {
        color: #11254a;
        font-size: 14px;
        margin: 3px 0;
    }

        .modal-window h3.single-line {
            float: left;
            margin-right: 8px;
        }

            .modal-window h3.single-line + h4 {
                position: relative;
                top: 2px;
            }

    .modal-window h4 {
        font-weight: normal;
        font-size: 12px;
        margin: 3px 0;
    }

/*#endregion */

/*#endregion */

/*#region Logo Section */

.section-logo {
    background-color: #11254a;
    height: 100%;
    width: 100%;
    min-height: 70px;
    min-width: 186px;
}

    .section-logo a {
        display: block;
        text-decoration: none;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .section-logo .logo-content {
        width: 162px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .section-logo img {
        float: left;
        width: 54px;
        height: 54px;
        margin-right: 14px;
    }

    .section-logo p {
        margin: 0;
        color: #fefefe;
    }

        .section-logo p:first-of-type {
            font-size: 25px;
            margin-top: 4px;
        }

        .section-logo p:nth-of-type(2) {
            font-size: 14px;
        }

/*#endregion */

/*#region Main Navigation Section */

.section-main-navigation {
    background-color: white;
    padding-top: 6px;
    padding-bottom: 9px;
    width: 200px;
}

    .section-main-navigation div {
        margin-bottom: 18px;
    }

    .section-main-navigation a {
        color: #000003;
    }

    .section-main-navigation .labeled-heading + ul {
        padding-left: 10px;
        padding-right: 10px;
        margin-right: -7px;
        line-height: 20px;
    }

        .section-main-navigation .labeled-heading + ul li {
            display: inline-block;
            margin-right: 7px;
        }

        .section-main-navigation .labeled-heading + ul + p {
            margin: 0;
            line-height: 20px;
            padding-right: 10px;
            text-align: right;
        }

/*#endregion */

/*#region Promoted Points Section */

.section-promoted-points {
    background-color: white;
    width: 200px;
}

    .section-promoted-points .heading {
        background-color: #11254a;
        position: relative;
    }

        .section-promoted-points .heading:before {
            content: "";
            display: block;
            position: absolute;
            left: -64px;
            width: 59px;
            height: 60px;
            z-index: -1;
            box-shadow: 0 0 2px #B8BABB;
            transform: rotate(135deg);
            transform-origin: bottom right;
            background-color: #adafb0;
        }

        .section-promoted-points .heading .exit {
            float: left;
            margin-left: -5px;
            width: 60px;
            height: 60px;
        }

            .section-promoted-points .heading .exit .background {
                fill: #00bd18;
            }

            .section-promoted-points .heading .exit .text {
                fill: #e7edef;
            }

        .section-promoted-points .heading .parking {
            float: left;
            width: 34px;
            height: 34px;
            margin: 13px 10px 13px 13px;
        }

        .section-promoted-points .heading p {
            margin: 0;
            color: white;
        }

            .section-promoted-points .heading p:first-of-type {
                font-size: 16px;
                padding-top: 14px;
                padding-bottom: 1px;
            }

    .section-promoted-points .point {
        margin-left: 20px;
        padding: 10px 0;
        border-bottom: 1px solid #000003;
    }

        .section-promoted-points .point:last-of-type {
            border-bottom: none;
        }

        .section-promoted-points .point p {
            margin: 0;
        }

            .section-promoted-points .point p:first-of-type {
                font-weight: bold;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin-right: 12px;
                margin-bottom: 2px;
            }

/*#endregion */

/*#region Timeline Section */

.section-timeline {
    width: 100%;
    min-width: 554px;
}

    /*#region Card & Card Line */

    .section-timeline .card {
        position: relative;
        padding-left: 31px;
    }

        .section-timeline .card .card-line {
            position: absolute;
            height: 100%;
            width: 17px;
            left: 13px;
            top: 0;
            fill: #11254a;
        }

            .section-timeline .card .card-line circle {
                fill: white;
                stroke: #11254a;
                stroke-width: 2px;
            }

    /*#endregion */

    /*#region Heading */

    /*#region Title */

    .section-timeline .heading .title {
        color: #11254a;
        padding: 7px 0;
        margin-left: 2px;
    }

        .section-timeline .heading .title h1 {
            font-size: 16px;
            font-weight: normal;
            margin: 0 0 2px;
        }

        .section-timeline .heading .title h2 {
            font-size: 10px;
            font-weight: normal;
            margin: 0;
        }

    .section-timeline .heading.inverse .title {
        color: white;
    }

    /*#endregion */

    /*#region Card Line */

    .section-timeline .heading .card-line rect {
        fill: #11254a;
    }

    .section-timeline .heading.inverse .card-line circle {
        fill: #11254a;
        stroke: white;
    }

    .section-timeline .heading.inverse .card-line rect {
        fill: white;
    }

    /*#endregion */

    /*#region Layout */

    .section-timeline .heading {
        position: relative;
        padding-right: 63px;
    }

        .section-timeline .heading .left-info,
        .section-timeline .heading .right-button {
            background-color: white;
        }

        .section-timeline .heading.inverse .left-info,
        .section-timeline .heading.inverse .right-button {
            background-color: #11254a;
        }

        .section-timeline .heading .left-info {
            overflow: hidden;
        }

        .section-timeline .heading .right-button {
            position: absolute;
            right: 0;
            width: 48px;
            height: 100%;
        }

            .section-timeline .heading .right-button img {
                width: 26px;
                height: 26px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

    /*#endregion */

    /*#endregion */

    /*#region Entry */

    .section-timeline .entry {
        padding-top: 30px;
        padding-right: 14px;
    }

    /*#region Heading */

    .section-timeline .entry-heading {
        margin-bottom: 10px;
        margin-left: 2px;
    }

        .section-timeline .entry-heading h3 {
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            font-weight: normal;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .section-timeline .entry-heading .entry-type {
            font-size: 14px;
            color: white;
            background-color: #11254a;
            padding: 2px;
            margin-right: 5px;
        }

        .section-timeline .entry-heading .entry-author {
            float: right;
            width: 184px;
        }

            .section-timeline .entry-heading .entry-author .avatar-anchor {
                float: right;
                margin-left: 6px;
            }

            .section-timeline .entry-heading .entry-author img {
                width: 24px;
                height: 24px;
                box-sizing: border-box;
                display: block;
                border-radius: 50%;
                border: 2px solid #11254a;
            }

            .section-timeline .entry-heading .entry-author h4 {
                line-height: 24px;
                height: 24px;
                font-weight: normal;
                margin: 0;
                text-align: right;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

    /*#endregion */

    /*#region Content */

    .section-timeline .entry-content {
        background-color: white;
    }

        .section-timeline .entry-content .thumbnail {
            float: left;
            width: 192px;
            height: 108px;
            margin-right: 9px;
        }

        .section-timeline .entry-content .summary {
            padding: 8px 10px;
        }

        .section-timeline .entry-content h3 {
            font-size: 16px;
            font-weight: normal;
            margin: 0 0 5px 0;
            padding-top: 1px;
            line-height: 22px;
            height: 22px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .section-timeline .entry-content p {
            margin: 0;
            line-height: 16px;
            max-height: 64px;
            overflow: hidden;
        }

            .section-timeline .entry-content p.two-line {
                height: 32px;
            }

    /*#endregion */

    /*#region Footer */

    .section-timeline .entry footer {
        text-align: center;
        color: #748a97;
        height: 24px;
        line-height: 24px;
        margin-top: 6px;
        visibility: hidden;
    }

        .section-timeline .entry footer .datetime {
            float: left;
        }

        .section-timeline .entry footer .likes {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 10px;
        }

        .section-timeline .entry footer .counts {
            float: right;
        }

            .section-timeline .entry footer .counts span {
                display: inline-block;
                margin-left: 15px;
            }

                .section-timeline .entry footer .counts span:first-of-type {
                    margin-left: 0;
                }

    .section-timeline .entry:hover footer {
        visibility: visible;
    }

/*#endregion */

/*#endregion */

/*#endregion */

/*#region Search Box Section */

.section-search-box {
    width: 100%;
    min-width: 184px;
    height: 100%;
    min-height: 38px;
    box-sizing: border-box;
    padding: 7px 30px 7px 10px;
    background-color: #11254A;
    position: relative;
}

    .section-search-box input[type=search] {
        border-radius: 4px;
        box-shadow: none;
        border: none;
        height: 100%;
        line-height: 24px;
        padding: 0 6px;
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    .section-search-box a {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 26px;
    }

        .section-search-box a img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 15px;
            height: 15px;
            margin-left: -10px;
            margin-top: -7px;
        }

/*#endregion */

/*#region Action Hub Section */

.section-action-hub {
    width: 300px;
    height: 129px;
    background-color: white;
    padding: 12px;
    box-sizing: border-box;
}

    .section-action-hub .name-settings {
        padding: 2px 0;
        margin-left: 65px;
    }

        .section-action-hub .name-settings h4 {
            margin: 0;
            line-height: 22px;
            font-weight: normal;
        }

        .section-action-hub .name-settings .name {
            font-size: 14px;
        }

        .section-action-hub .name-settings .settings-link a {
            color: #333;
        }

    .section-action-hub .avatar-anchor {
        float: left;
    }

        .section-action-hub .avatar-anchor img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }

    .section-action-hub .links {
        margin-top: 14px;
    }

        .section-action-hub .links li {
            display: inline-block;
            text-align: center;
            width: 66px;
        }

        .section-action-hub .links h4 {
            font-weight: normal;
            margin: 0 0 6px;
        }

        .section-action-hub .links a {
            font-size: 16px;
            font-style: italic;
        }

/*#endregion */

/*#region IFS Right Section */

.section-ifs-right {
    height: 100%;
    width: 100%;
    min-height: 143px;
    min-width: 269px;
    background-color: white;
    position: relative;
}

    .section-ifs-right svg {
        margin: 0 auto;
        width: 256px;
        height: 128px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

/*#endregion */

/*#region Promoted Readings Section */

.section-promoted-readings {
    width: 100%;
    min-width: 206px;
    background-color: white;
    padding-top: 6px;
    padding-bottom: 9px;
}

    .section-promoted-readings .article {
        padding: 12px 15px;
    }

        .section-promoted-readings .article h2 {
            font-weight: normal;
            font-size: 12px;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

            .section-promoted-readings .article h2 span {
                margin-right: 4px;
                color: #748a97;
            }

        .section-promoted-readings .article p {
            margin: 7px 0;
            max-height: 48px;
            overflow: hidden;
            line-height: 16px;
        }

        .section-promoted-readings .article footer {
            text-align: right;
            color: #748a97;
            height: 14px;
            line-height: 14px;
        }

            .section-promoted-readings .article footer span {
                margin-left: 15px;
                display: none;
            }

        .section-promoted-readings .article:hover footer span.datetime {
            display: none;
        }

        .section-promoted-readings .article footer span.datetime,
        .section-promoted-readings .article:hover footer span {
            display: inline-block;
        }

/*#endregion */

/*#region CuC Entrance Section */

.section-cuc-entrance {
    background-color: #252626;
    height: 100%;
    width: 100%;
    min-height: 60px;
    min-width: 300px;
}

    .section-cuc-entrance a {
        display: block;
        text-decoration: none;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .section-cuc-entrance .cuc-content {
        width: 276px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .section-cuc-entrance img {
        float: left;
        width: 52px;
        height: 46px;
        margin-right: 2px;
    }

    .section-cuc-entrance p {
        margin: 0;
        color: #fefefe;
    }

        .section-cuc-entrance p:first-of-type {
            font-size: 18px;
            margin: 6px 0 2px;
        }

/*#endregion */

/*#region Site Footer Section */

.section-site-footer {
    text-align: right;
}

    .section-site-footer p {
        margin: 5px 0;
    }

    .section-site-footer .divider {
        margin: 0 3px;
        color: #c7cdd1;
    }

    .section-site-footer,
    .section-site-footer a {
        color: #748a97;
    }

/*#endregion */

/*#region Spotlight Banner Section */

.section-spotlight-banner {
    height: 100%;
    width: 100%;
    min-height: 185px;
    min-width: 616px;
    background-color: white;
    position: relative;
}

    .section-spotlight-banner svg {
        margin: 0 auto;
        width: 606px;
        height: 175px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -303px;
        margin-top: -86px;
    }

/*#endregion */

/*#region Registration Modal Window */

.modal-registration .modal-window {
    padding: 14px;
    width: 900px;
}

.modal-registration .error {
    color: red;
}

.modal-registration .sample-bar-code {
    width: 678px;
    height: 20px;
    margin: 0 auto;
    display: block;
}

.modal-registration .heading {
    margin: 28px 0;
}

    .modal-registration .heading img {
        float: right;
        width: 44px;
        height: 44px;
    }

.modal-registration table {
    margin: 28px 0;
    width: 100%;
}

.modal-registration .platform {
    float: left;
    width: 33%;
    margin: 10px 0 8px;
    text-align: center;
    position: relative;
}

    .modal-registration .platform .go-binding-anchor {
        display: inline-block;
        opacity: 0.25;
    }

        .modal-registration .platform .go-binding-anchor:hover {
            text-decoration: none;
            opacity: 1.0;
        }

        .modal-registration .platform .go-binding-anchor img {
            width: 35px;
            height: 35px;
            vertical-align: middle;
        }

        .modal-registration .platform .go-binding-anchor span {
            font-size: 14px;
            color: #333;
        }

    .modal-registration .platform .pasted-card {
        width: 262px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fdfeeb;
        border-image: url(/Content/Images/border-slash.png) 30 round;
        border-width: 4px;
        border-style: solid;
        transform: rotate(-1deg);
    }

        .modal-registration .platform .pasted-card .needle {
            position: absolute;
            top: -3px;
            left: 4px;
        }

        .modal-registration .platform .pasted-card > div {
            display: inline-block;
            margin: 6px 0 4px;
        }

        .modal-registration .platform .pasted-card div img {
            float: left;
            width: 35px;
            height: 35px;
            margin-right: 8px;
        }

        .modal-registration .platform .pasted-card div h5 {
            font-size: 12px;
            font-weight: normal;
            margin: 2px 0;
        }

        .modal-registration .platform .pasted-card div a {
            font-weight: bold;
        }

        .modal-registration .platform .pasted-card div div {
            float: left;
            text-align: left;
            max-width: 192px;
        }

.modal-registration .avatar-box-left-spacing {
    border: none;
}

.modal-registration .upload-avatar {
    text-align: center;
}

    .modal-registration .upload-avatar button {
        margin: 6px 0;
    }

.modal-registration .gt_holder {
    margin: 16px auto;
}

.modal-registration .declaration {
    max-width: 580px;
}

    .modal-registration .declaration h3.single-line + h4 {
        top: 5px;
    }

.modal-registration .modal-window .modal-confirm-button {
    margin-right: -22px;
}

/*#endregion */

/*#region Reception Section */

.section-reception {
    background-color: white;
    padding-top: 6px;
    padding-bottom: 9px;
}

    .section-reception div {
        margin-bottom: 18px;
    }

    .section-reception ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .section-reception ul li {
            padding: 2px 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

    .section-reception a {
        color: #000003;
    }

/*#endregion */

/*#region Login Password Window */

.modal-login-password .modal-window {
    padding: 24px;
    width: 1024px;
}

.modal-login-password .error {
    color: red;
}

.modal-login-password .heading {
    margin: 28px 0;
}

.modal-login-password table {
    margin: 28px auto;
    width: 868px;
}

.modal-login-password .gt_holder {
    margin: 16px auto;
}

.modal-login-password .modal-window .modal-confirm-button {
    margin-right: -32px;
}

/*#endregion */
