/*#region Common HTML Elements */

body {
    color: #333;
    background-color: #eef1f3;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 12px;
    min-width: 1220px;
    box-sizing: border-box;
}

a {
    color: #11254a;
    text-decoration: none;
}

    a:hover,
    a:focus {
        text-decoration: underline;
    }

/*#endregion */

/*#region Grid System */

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-left {
    width: 200px;
}

.col-middle {
    width: 640px;
}

.col-right {
    width: 300px;
}

.col-left-middle {
    width: 870px;
}

[class^=col-] {
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}

    [class^=col-] section {
        margin-top: 20px;
        margin-bottom: 20px;
    }

/*#endregion */

/*#region Utilities */

.box-shodowed {
    box-shadow: 2.12px 2.12px 2px rgba(53, 72, 86, 0.15);
}

.labeled-heading {
    position: relative;
    line-height: 20px;
    padding-left: 8px;
    font-size: 14px;
    color: #11254a;
    font-weight: normal;
}

    .labeled-heading:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -5px;
        width: 8px;
        height: 20px;
        background-color: #11254a;
    }

    .labeled-heading:before {
        content: "";
        display: block;
        position: absolute;
        left: -13px;
        width: 8px;
        height: 20px;
        z-index: -1;
        box-shadow: 0 0 2px #B8BABB;
        transform: rotate(135deg);
        transform-origin: bottom right;
        background-color: #adafb0;
    }

.row:after,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.list-inline {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .list-inline li {
        display: inline;
    }

/*#endregion */

/*#region Logo Section */

.section-logo {
    background-color: #11254a;
}

    .section-logo a {
        display: block;
        text-decoration: none;
        padding: 19px 0 19px 19px;
    }

    .section-logo img {
        float: left;
        width: 54px;
        height: 54px;
        margin-right: 14px;
    }

    .section-logo p {
        margin: 0;
        color: #fefefe;
    }

        .section-logo p:first-of-type {
            font-size: 24px;
            margin-bottom: 7px;
        }

        .section-logo p:nth-of-type(2) {
            font-size: 14px;
        }

/*#endregion */

/*#region Main Navigation Section */

.section-main-navigation {
    background-color: white;
    padding-top: 6px;
    padding-bottom: 9px;
}

    .section-main-navigation div {
        margin-bottom: 18px;
    }

    .section-main-navigation a {
        color: #000003;
    }

    .section-main-navigation .labeled-heading + ul {
        padding-left: 10px;
        padding-right: 10px;
        margin-right: -7px;
        line-height: 20px;
    }

        .section-main-navigation .labeled-heading + ul li {
            display: inline-block;
            margin-right: 7px;
        }

        .section-main-navigation .labeled-heading + ul + p {
            margin: 0;
            line-height: 20px;
            padding-right: 10px;
            text-align: right;
        }

/*#endregion */

/*#region Recommended Points Section */

.section-recommended-points {
    background-color: white;
}

    .section-recommended-points .heading {
        background-color: #11254a;
        position: relative;
    }

        .section-recommended-points .heading:before {
            content: "";
            display: block;
            position: absolute;
            left: -64px;
            width: 59px;
            height: 60px;
            z-index: -1;
            box-shadow: 0 0 2px #B8BABB;
            transform: rotate(135deg);
            transform-origin: bottom right;
            background-color: #adafb0;
        }

        .section-recommended-points .heading img {
            float: left;
            margin-left: -5px;
        }

        .section-recommended-points .heading svg {
            float: left;
            width: 34px;
            height: 34px;
            margin: 13px 10px 13px 13px;
        }

        .section-recommended-points .heading p {
            margin: 0;
            color: white;
        }

            .section-recommended-points .heading p:first-of-type {
                font-size: 14px;
                padding-top: 12px;
                padding-bottom: 2px;
            }

    .section-recommended-points .point {
        margin-left: 20px;
        padding: 10px 0;
        border-bottom: 1px solid #000003;
    }

        .section-recommended-points .point:last-of-type {
            border-bottom: none;
        }

        .section-recommended-points .point p {
            margin: 0;
        }

            .section-recommended-points .point p:first-of-type {
                font-weight: bold;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin-right: 12px;
                margin-bottom: 2px;
            }

/*#endregion */

/*#region Banner Section */

.section-banner {
    background-color: white;
    padding: 11px 0;
}

    .section-banner img {
        margin: 0 auto;
        width: 606px;
        height: 172px;
        display: block;
    }

/*#endregion */

/*#region Timeline Section */

/*#region Card & Card Line */

.section-timeline .card {
    position: relative;
    padding-left: 31px;
}

    .section-timeline .card .card-line {
        position: absolute;
        height: 100%;
        width: 17px;
        left: 13px;
    }

        .section-timeline .card .card-line circle {
            fill: white;
            stroke: #11254a;
            stroke-width: 2px;
        }

/*#endregion */

/*#region Heading Title */

.section-timeline .heading .title {
    color: #11254a;
    padding: 6px 0;
    margin-left: 2px;
}

    .section-timeline .heading .title h1 {
        font-size: 16px;
        font-weight: normal;
        margin: 0 0 1px;
    }

    .section-timeline .heading .title h2 {
        font-size: 10px;
        font-weight: normal;
        margin: 0;
    }

.section-timeline .heading.inverse .title {
    color: white;
}

/*#endregion */

/*#region Heading Card Line */

.section-timeline .heading .card-line rect {
    fill: #11254a;
}

.section-timeline .heading.inverse .card-line circle {
    fill: #11254a;
    stroke: white;
}

.section-timeline .heading.inverse .card-line rect {
    fill: white;
}

/*#endregion */

/*#region Heading Layout */

.section-timeline .heading {
    position: relative;
    padding-right: 63px;
}

.section-timeline .heading .left-info,
.section-timeline .heading .right-button {
    background-color: white;
}

.section-timeline .heading.inverse .left-info,
.section-timeline .heading.inverse .right-button {
    background-color: #11254a;
}

.section-timeline .heading .left-info {
    overflow: hidden;
}

.section-timeline .heading .right-button {
    position: absolute;
    right: 0;
    width: 48px;
    height: 100%;
}

    .section-timeline .heading .right-button img {
        width: 26px;
        height: 26px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -13px;
        margin-top: -13px;
    }

/*#endregion */

/*#endregion */
