<!DOCTYPE html>
<html ng-app="KeylolApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1220">
    <title ng-bind="pageTitle">载入中 - 其乐</title>
    <base href="/">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-app")
</head>
@RenderBody()
</html>
