<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netHttpBinding>
                <binding name="NetHttpBinding_ISteamBotCoodinator">
                    <security mode="TransportWithMessageCredential" />
                    <webSocketSettings transportUsage="Always" />
                </binding>
            </netHttpBinding>
        </bindings>
        <client>
            <endpoint address="wss://localhost:44300/Services/SteamBotCoodinator.svc"
                binding="netHttpBinding" bindingConfiguration="NetHttpBinding_ISteamBotCoodinator"
                contract="CoodinatorService.ISteamBotCoodinator" name="NetHttpBinding_ISteamBotCoodinator" />
        </client>
    </system.serviceModel>
</configuration>