<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="rabbitMqConnection" value="amqp://43.241.222.135:5672/"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netHttpBinding>
        <binding name="NetHttpBinding_ISteamBotCoordinator" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="TransportWithMessageCredential" />
          <webSocketSettings transportUsage="Always" />
        </binding>
      </netHttpBinding>
    </bindings>
    <client>
      <endpoint address="wss://api.keylol.com/Services/SteamBotCoordinator.svc" binding="netHttpBinding" bindingConfiguration="NetHttpBinding_ISteamBotCoordinator" contract="ServiceReference.ISteamBotCoordinator" name="NetHttpBinding_ISteamBotCoordinator" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>